body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

h1, h2 {
    color: #333;
}

input {
    padding: 8px;
    margin: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#quiz {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

#ranking {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
}

#rankingLista {
    list-style-type: none;
    padding: 0;
}

#rankingLista li {
    padding: 5px;
    font-size: 20px;
}

#alternativas div {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 18px;
}

#alternativas div:hover {
    background-color: #f1f1f1;
}

.confetes {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 9999;
}

.confete {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: random;
    animation: cair 2s forwards;
}

@keyframes cair {
    0% {
        transform: translateY(-50px);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}
